@tailwind base;
@tailwind components;
@tailwind utilities;

article h1 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
  font-weight: bold;
}

article p {
  margin-bottom: 24px;
}

article p:last-of-type {
  margin-bottom: 0;
}
